---
const today = new Date();
import { Icon } from "astro-icon/components";
---

<footer
  class="flex flex-col items-center container mx-auto p-10 text-center gap-10 pb-40"
>
  &copy; {today.getFullYear()} Maya Taliaferro. All rights reserved.
  <div class="flex items-center gap-6 text-5xl">
    <a
      href="https://neulabnyu.com/"
      target="_blank"
      class="py-1 px-2 flex flex-col items-center rounded-md border-1 border-black bg-pblue text-white shadow-card hover:shadow-hover transition"
    >
      <Icon name="web" />
      <span class="text-[10px] mt-1">Lab Website</span>
    </a>
    <a
      href="https://github.com/Maya-Taliaferro"
      target="_blank"
      class="py-1 px-2 flex flex-col items-center rounded-md border-1 border-black bg-pblue text-white shadow-card hover:shadow-hover transition"
    >
      <Icon name="github" />
      <span class="text-[10px] mt-1">GitHub</span>
    </a>
    <a
      href="https://www.linkedin.com/in/maya-taliaferro-336547172/"
      target="_blank"
      class="py-1 px-2 flex flex-col items-center rounded-md border-1 border-black bg-pblue text-white shadow-card hover:shadow-hover transition"
    >
      <Icon name="linkedin" />
      <span class="text-[10px] mt-1">LinkedIn</span>
    </a>
  </div>
</footer>
